* {
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#header-img {
  padding: 1em;
  max-height: 2em;
}
.nav-link {
  margin-right: 1.5em;
}
.nav-link {
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  color: gray;
}
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email {
  width: 250px;
  padding: 0.5em;
  margin: 0.5em;
}

#submit {
  padding: 0.75em;
  border: none;
  background-color: coral;
  cursor: pointer;
}

#submit:hover {
  background-color: chocolate;
}

#features {
}

#howitworks {
}
.icon img {
  color: yellow;
  padding-right: 2.5em;
}
.icon {
  width: 100px;
}
#pricing {
}
.description {
  width: 500px;
}

footer {
  height: 150px;
}
.container {
  display: flex;
  flex-direction: row;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
