#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#header-img {
  padding: 1em;
  width: 2em;
  height: 2em;
}
.nav-link {
  margin-right: 1.5em;
}
.nav-link {
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  color: gray;
}
